*{
  outline: 0 !important;
  font-family: Roboto !important;
}

nav{
  height: 4em;
}

input[type="submit"], button{
  background-color: transparent;
  border: 0;
  font-weight: 700;
  color: #636262;
  padding: 10px 20px;
}

input[type="submit"]:hover, button:hover{
  background-color: #f1f1f1;
  -webkit-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], select{
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid;
}
input {
  font-weight: 300;
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
  z-index: 10;
}

input + label{
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input:focus + label > span, input:valid + label > span {
  top: -45px;
  font-weight: 500;
  font-size:  10px;
}

input + label > span{
  font-weight: 300;
  margin: 0;
  position: absolute;
  top: -30px;
  left: 0px;
  -webkit-transition: top 0.2s ease, font-weight 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-weight 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.main-container{
  text-align: center;
}

.main-container > h2{
  font-weight: 300;
}

@media screen and (min-width: 480px) {
    .input-div > div{
      margin: 5em;
    }
}

.input-div{
  margin: 5em 20vw;
}

.input-div> input{
  width: 100%;
}

.logout-button{
  color: #d63d3d;
}

.display-button-list > button{
  display: list-item;
  margin: 5em auto;
}

ul{
  list-style: none;
  padding: 0;
}

.ul-table{
  display: table;
  width: 100%;
}

.ul-table > li{
  display: table-row;
}

.ul-table > li > div{
  display: table-cell;
  padding: 10px 0;
}

.participants-ul > li{
  padding: 20px;
}

.add-participant{
  margin: 0 !important;
}

.new-participant{
  display: none;
}
