*{
  color: #fff;
}

body{
  background-size: cover;
  background-image: url("../imgs/background.png");
}

.signup-container{
  border: 4px #54e1da solid;
  top: 20%;
  padding: 40px 50px;
  margin: 0 20px;
}

.signup-page-bg{
  height: 100%;
  width: 100%;
  position: absolute;
}

.signup-page-bg, .signup-page-bg > div, .signup-page-bg > div > div{
  height: 100%;
}

.signup-container > h3{
  margin: 0;
  margin-bottom: 20px;
}

.signup-container > input[type="password"], .signup-container > input[type="email"], .signup-container > input[type="text"]{
  background-color: transparent;
  display: block;
  border:0;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: #fff 2px solid;
  outline: none;
}

.button-primary{
  left:calc(50% - 40px);
  padding: 10px 20px;
  background-color: #fff;
  color: #111111;
  position: relative;
  outline: none;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.3rem;
  border-radius: 30px;
  border: 0;
}

.signup-error{
	display: block;
    margin-bottom: 20px;
    color: red;
}

@media screen and (max-width: 480px) {
    body {
        background-size: initial;
    }
}